<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gisquest.plan.service.dao.SearchMapper" >
  <resultMap id="QuataVoMap" type="com.gisquest.plan.service.vo.quata.QuataVo" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="topic" property="topic" jdbcType="VARCHAR" />
    <result column="first_quata" property="firstQuata" jdbcType="VARCHAR" />
    <result column="first_quata_id" property="firstQuataId" jdbcType="VARCHAR" />
    <result column="second_quata" property="name" jdbcType="VARCHAR" />
    <result column="alias" property="tableName" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.gisquest.plan.service.vo.quata.QuataResponse">
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="year" property="year" jdbcType="INTEGER" />
    <result column="source" property="source" jdbcType="VARCHAR" />
    <result column="source_year" property="sourceYear" jdbcType="VARCHAR" />
    <result column="target" property="target" jdbcType="VARCHAR" />
  </resultMap>

  <select id="fuzzySearch" parameterType="java.lang.String" resultMap="QuataVoMap">
    select
    t1.id id,t3."type" topic,t2.type first_quata,t1.type second_quata,t1.alias alias
    from target_classify t1 join business_classify t2 on t1.business_parentid = t2.id
    join resource_classify t3 on t2.resource_parentid = t3.id
    where t1.type like #{searchContent,jdbcType=VARCHAR};
  </select>

  <select id="searchByTopicId" parameterType="java.lang.String" resultMap="QuataVoMap">
    select
    t1.id id,t3."type" topic,t2.type first_quata,t1.type second_quata,t1.alias alias,t2.id first_quata_id
    from target_classify t1 join business_classify t2 on t1.business_parentid = t2.id
    join resource_classify t3 on t2.resource_parentid = t3.id
    where t3.id = #{topic,jdbcType=VARCHAR};
  </select>

  <select id="searchTableName" parameterType="java.lang.String" resultType="java.lang.Integer">
    select
    alias
    from target_classify
    where id = #{quataId,jdbcType=VARCHAR};
  </select>

  <select id="searchCondition" parameterType="java.lang.String" resultType="java.lang.String">
    select
    DISTINCT ${fieldName}
    from ${tableName};
  </select>

  <select id="getTargetList" resultMap="BaseResultMap">
    select * from ${quataSearchResponse.tableName}
    <trim prefix="where" prefixOverrides="and |or">
      <if test="quataSearchResponse.year !=null and quataSearchResponse.year != ''">
        and year = #{quataSearchResponse.year}
      </if>
      <if test="quataSearchResponse.area !=null and quataSearchResponse.area != ''">
        and area = #{quataSearchResponse.area}
      </if>
      <if test="quataSearchResponse.dataSource !=null and quataSearchResponse.dataSource != ''">
        and source = #{quataSearchResponse.dataSource}
      </if>
      <if test="quataSearchResponse.collectYear !=null and quataSearchResponse.collectYear != ''">
        and source_year = #{quataSearchResponse.collectYear}
      </if>
    </trim>
  </select>

  <select id="getTargetYear" parameterType="java.lang.String" resultType="java.lang.String">
        select  DISTINCT year
          from ${tableName}
    </select>

  <select id="getTargetAvg"  resultType="java.lang.Integer">
        select AVG(cast(bc.target as float8)) FROM (SELECT * from ${tableName} where area_code !='330000' and year =${year}) bc
    </select>

  <select id="getTargetMedian"  resultMap="BaseResultMap">
        SELECT * from ${tableName} where area_code !='330000' and year =${year}
    </select>

</mapper>
