<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gisquest.plan.service.dao.TargetDesignMapper" >
  <resultMap id="BaseResultMap" type="com.gisquest.plan.service.model.targetDesign.TargetDesign" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="parentid" property="parentid" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="alias" property="alias" jdbcType="VARCHAR" />
    <result column="target_parentid" property="targetParentid" jdbcType="VARCHAR" />
    <result column="column_name" property="columnName" jdbcType="VARCHAR" />
    <result column="column_data" property="columnData" jdbcType="VARCHAR" />
    <result column="extend1" property="extend1" jdbcType="VARCHAR" />
    <result column="extend2" property="extend2" jdbcType="VARCHAR" />
    <result column="extend3" property="extend3" jdbcType="VARCHAR" />
    <result column="target_design_parent_id" property="targetDesignParentId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, parentid, area, type, alias, target_parentid, column_name, column_data, extend1, 
    extend2, extend3, target_design_parent_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from target_design
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="getTargetDesignDataByTargetDesignParentId" resultMap="BaseResultMap" parameterType="java.lang.String" >
      SELECT
          (
              CASE
              WHEN (design.target_parentid IS NULL) THEN
                  design."type"
              ELSE
                  classify."type"
              END
          ) AS "type",
          design."id",
          design.area,
          design.parentid,
          design."alias",
          design.target_parentid,
          design."column_name",
          design.column_data,
          design.extend1
      FROM
          target_design design
      LEFT JOIN target_classify classify ON design.target_parentid = classify."id"
      WHERE
           target_design_parent_id = #{targetDesignParentId,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from target_design
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.gisquest.plan.service.model.targetDesign.TargetDesign" >
    insert into target_design (id, parentid, area, 
      type, alias, target_parentid, 
      column_name, column_data, extend1, 
      extend2, extend3, target_design_parent_id
      )
    values (#{id,jdbcType=VARCHAR}, #{parentid,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{alias,jdbcType=VARCHAR}, #{targetParentid,jdbcType=VARCHAR}, 
      #{columnName,jdbcType=VARCHAR}, #{columnData,jdbcType=VARCHAR}, #{extend1,jdbcType=VARCHAR}, 
      #{extend2,jdbcType=VARCHAR}, #{extend3,jdbcType=VARCHAR}, #{targetDesignParentId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gisquest.plan.service.model.targetDesign.TargetDesign" >
    insert into target_design
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="parentid != null" >
        parentid,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="alias != null" >
        alias,
      </if>
      <if test="targetParentid != null" >
        target_parentid,
      </if>
      <if test="columnName != null" >
        column_name,
      </if>
      <if test="columnData != null" >
        column_data,
      </if>
      <if test="extend1 != null" >
        extend1,
      </if>
      <if test="extend2 != null" >
        extend2,
      </if>
      <if test="extend3 != null" >
        extend3,
      </if>
      <if test="targetDesignParentId != null" >
        target_design_parent_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null" >
        #{parentid,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="alias != null" >
        #{alias,jdbcType=VARCHAR},
      </if>
      <if test="targetParentid != null" >
        #{targetParentid,jdbcType=VARCHAR},
      </if>
      <if test="columnName != null" >
        #{columnName,jdbcType=VARCHAR},
      </if>
      <if test="columnData != null" >
        #{columnData,jdbcType=VARCHAR},
      </if>
      <if test="extend1 != null" >
        #{extend1,jdbcType=VARCHAR},
      </if>
      <if test="extend2 != null" >
        #{extend2,jdbcType=VARCHAR},
      </if>
      <if test="extend3 != null" >
        #{extend3,jdbcType=VARCHAR},
      </if>
      <if test="targetDesignParentId != null" >
        #{targetDesignParentId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gisquest.plan.service.model.targetDesign.TargetDesign" >
    update target_design
    <set >
      <if test="parentid != null" >
        parentid = #{parentid,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="alias != null" >
        alias = #{alias,jdbcType=VARCHAR},
      </if>
      <if test="targetParentid != null" >
        target_parentid = #{targetParentid,jdbcType=VARCHAR},
      </if>
      <if test="columnName != null" >
        column_name = #{columnName,jdbcType=VARCHAR},
      </if>
      <if test="columnData != null" >
        column_data = #{columnData,jdbcType=VARCHAR},
      </if>
      <if test="extend1 != null" >
        extend1 = #{extend1,jdbcType=VARCHAR},
      </if>
      <if test="extend2 != null" >
        extend2 = #{extend2,jdbcType=VARCHAR},
      </if>
      <if test="extend3 != null" >
        extend3 = #{extend3,jdbcType=VARCHAR},
      </if>
      <if test="targetDesignParentId != null" >
        target_design_parent_id = #{targetDesignParentId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <delete id="deleteByTargetDesignParentid" parameterType="java.lang.String" >
    delete from target_design
    where target_design_parent_id = #{targetDesignParentId,jdbcType=VARCHAR}
  </delete>
    <select id="seletByParentId" resultMap="BaseResultMap"   parameterType="java.lang.String">
       WITH RECURSIVE r AS (
        SELECT
            *
        FROM
            target_design place
        WHERE
            id = #{targetDesignId}
        UNION ALL
            SELECT
                place.*
            FROM
                target_design as place,
                r
            WHERE
                place.parentid = r. ID
    ) SELECT
        *
    FROM
        r
    ORDER BY
        ID;
  </select>

    <update id="updateByPrimaryKey" parameterType="com.gisquest.plan.service.model.targetDesign.TargetDesign" >
    update target_design
    set parentid = #{parentid,jdbcType=VARCHAR},
      area = #{area,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      alias = #{alias,jdbcType=VARCHAR},
      target_parentid = #{targetParentid,jdbcType=VARCHAR},
      column_name = #{columnName,jdbcType=VARCHAR},
      column_data = #{columnData,jdbcType=VARCHAR},
      extend1 = #{extend1,jdbcType=VARCHAR},
      extend2 = #{extend2,jdbcType=VARCHAR},
      extend3 = #{extend3,jdbcType=VARCHAR},
      target_design_parent_id = #{targetDesignParentId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>